/*
Theme Name: Comes & Bebes
Theme URI: https://injunior.com.br/
Author: Equipe Guará
Author URI: https://injunior.com.br/
Description: Tema do projeto final do processo seletivo da IN Junior
*/

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    width: 100vw;
}

button {
    background: #F5C661;
    border: 1px solid #F5C661;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25em;
}

button:hover {
    background-color: #252525;
    border: 1px solid #252525;
    color: #F5C661;
}

input:focus {
    outline: none;
} 

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.main-content h2{
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Bellota Text';
}

.main-content p{
    font-size: 1.5rem;
    font-family: 'Bellota Text';
}

.container-categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 50px;
    margin-right: 50px;
}

.container-categories p{
    display: flex;
    align-self: flex-start;
}

.categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.8rem;
}

.category{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 240px;
    height: 210px;
    text-decoration: none;
}

.category:hover{
    border: 2px solid #6A066D;
}

.category h3{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-family: 'Bellota Text';
    font-weight: 300;
    width: 100%;
    height: 2.8rem;
    
    color: rgba(229, 229, 229, 1);
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);

}

.menu-day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 50px;
    margin-right: 50px;
}

.day{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.day p{
    font-family: 'Bellota Text';
}

.day h3{
    font-size: 1.7rem;
    font-weight: 400;
    font-family: 'Bellota Text';
}

.search-dishe label{
    font-size: 18px;
}

.dishes-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.8rem;
    max-width: 1050px;
}

.dishe{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 240px;
    height: 373px;
}

.name-price{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgba(229, 229, 229, 1);
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
}

.dishe h4{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-family: 'Bellota Text';
}

.buy-dishe{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    gap: 7rem;
    padding-bottom: 0.5rem;
}

.buy-dishe h3{
    font-size: 1.3rem;
    font-family: 'Comic Neue';
    
}

.buy-dishe a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 40px;
    background-color: rgba(245, 198, 97, 1);

}

.go-store{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-family: Roboto;
    background-color: rgba(245, 198, 97, 1);
    width: 13rem;
    height: 2rem;
    border: 2px solid rgb(224, 159, 18)
}

.go-store:hover{
    background-color: rgb(224, 159, 18);
}