.address{
    background: #E7FAFE;
    padding: 25px 140px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: justify;
    font-family: 'Roboto';
}
/*Woocommerce classes*/
.woocommerce-MyAccount-content {
    background: #E7FAFE;
}
.woocommerce-MyAccount-content .description{
    font-size: 18px;
    font-weight: 400;
    line-height: 2rem;
}
.woocommerce-MyAccount-content .container_address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
}
.woocommerce-MyAccount-content .titulo_container_link{
    font-weight: normal;
    color: #09A7B1;
    text-decoration: underline;
}
.woocommerce-MyAccount-content .lista_cliente{
    margin-top: 27px;
}
.woocommerce-MyAccount-content .cliente{
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding-top: 34px;
}

.woocommerce-MyAccount-content .cliente_nome,.woocommerce-MyAccount-content .cliente_cep{
    font-size: 24px;
    font-weight: 400;
    color: #6A066D;
}
.woocommerce-MyAccount-content .container_endereco_entrega{
    font-weight: 400;
    line-height: 1.5;
}
.woocommerce-MyAccount-content .cliente p{
    font-size: 16px;
}
.woocommerce-MyAccount-content .cliente_editar{
    font-size: 18px;
    color: #09A7B1;
}
#shipping_company_field, #shipping_country_field{
    display: none;
}
#shipping_state_field, #shipping_state_field option{
    display: none;
}

.description{
    font-size: 18px;
    font-weight: 400;
    line-height: 2rem;
}

.address_container{
    margin-top: 65px;
}

.titulo_address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.titulo_address a{
    font-weight: normal;
    color: #09A7B1;
}
.lista_cliente{
    margin-top: 27px;
}

.cliente_editar{
    font-size: 18px;
    color: #09A7B1;
}
.formulario{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.btn_form{
    font-family: 'Bellota Text';
    font-weight: 400;
    background-color: #6A066D;
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
    border: 2px solid #6A066D;
}
.btn_form:hover{
    background-color: #a105a7;
    border: 2px solid #a105a7;
    color: white;
}

/*Responsividade*/
