.main-page-archive{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-archive{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-left: 25px;
    margin-right: 25px;
    
    font-family: 'Bellota Text';
}

h1{
    font-weight: 400;
    font-size: 30px;
    word-wrap: break-word;
}

.type-dish{
    display: flex;
    flex-direction: column;
    gap: 5px
}

h2{
    font-weight: 400;
    font-size: 30px;
}

p{
    font-size: 18px;
}

.search-dishe{
    display: flex;
    max-width: 1050px;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.search-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
}

.search-name{
    width: 100%;
}

.search-name, .sort-options-form, .sort-price{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sort-price{
    justify-content: flex-end;
}

.sort-options-form, .sort-options{
    width: 40%;
}

.search-div{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 30px;
}

.search-div label{
    font-size: 18px;
}

.sort-options{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.button-buscar{
    display: none;
}

input, #sort-options{
    border: none;
    border-bottom: 2px solid rgba(106, 6, 109, 1);
}

.sort-attributes{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 15px;
}
.sort-options{
    width: 100%
}

.price-margin{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.less-price, .biggest-price{
    display: flex;
    
}

.pagination-products{
    display: flex;
    align-self: center;
    font-weight: 600;
    font-size: 18px;
    
}
.pagination-products a{
    text-decoration: none;
    color: black;
}
