.lateral-cart {
   display: none;
}

/* Fechar */
.modal-exit {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.x-icon {
    width: 15px;
    align-self: left;
}

.x-icon:hover {
    width: 16px;
}

/* Escurecer fundo */
.smoke {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: black;
    opacity: 0.5;
}

/* Parte amarela */
.lateral-modal {
    position: fixed;
    right: 0;
    top: 0;
    width: 40vw;
    height: 100vh;
    background-color: #F5C661;
    z-index: 2;
    overflow: scroll;
}

.modal-content {
    margin: 50px 15px 0px 15px;
    height: 50%;
}

.modal-content h1 {
    color: #6A066D;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.modal-itens {
    width: 100%;
    min-height: 10%;
    border-top: 2px solid #7A247D;
    border-bottom: 2px solid #7A247D;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 30px 0px ;
}

.modal-content p {
    margin: 15px 0px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

/* Botão */
.cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-btn button {
    text-decoration: none;
    background-color: #7e3481dc;
    color: #f1f1f1;
    text-decoration: none;
    border: #7e3481dc;
    padding: 5px 45px;
    margin-bottom: 50px;
}

.cart-btn button:hover {
    background-color: #3a183bdc;
}

/* Cada produto */
.product-cart {
    background-color: #D7F6FD;
    margin: 10px;
    height: 110px;
    display: flex;
}

.img-cart {
    width: 110px;
}

.woocommerce-placeholder,
.attachment-woocommerce_thumbnail{
    max-width: 110px;
    min-width: 110px;
    max-height: 110px;
    min-height: 110px;
} 

.name-cart {
    width: 100%;
    padding: 0px 10px 0px 10px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.qtd-price-cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qtd-cart {
    display: flex;
    background-color: #E7FAFE;
    justify-content: center;
    align-items: center;
    border: 1px solid #333333;
    width: 113px;
    height: 28px;
}

#p-cart-2 {
    height: 100%;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
    padding: 0px 10px 0px 10px;
    margin: 0px 14px 0px 16px;
}
