.checkout {
    display: flex;
    justify-content: center;
    padding: 4vh;
    background: #E5E5E5;
}

.line {
    border-right: 1px solid #000000;
    margin: 0 5vw 0 5vw;
}

.checkout h3 {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.checkout h4 {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    margin-top: 28px;
}

.checkout h5 {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-top: 33px;
}

/* PAGAMENTO */
.payment-method {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.payment-method button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FAFAFA;
    border: 0;
    width: 188px;
    height: 61px;
    margin: 10px;
}

.payment-method img{
    width: 25px;
    height: 22px;
}

/* PEDIDOS */
.checkout-col2 p {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.checkout-subtotal-shipping {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin: 33px 0px 33px 0px;
    padding: 20px 0px 10px 0px;
}

.checkout-subtotal,
.checkout-shipping,
.checkout-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.checkout-btn {
    display: flex;
    justify-content: center;
}

.checkout-btn button {
    text-decoration: none;
    background-color: #7e3481dc;
    border: #7e3481dc;
    color: #f1f1f1;
    padding: 5px 45px;
    margin-top: 20px;
}

.checkout button:hover {
    background-color: #3a183bdc;
}


/* Cada produto */
.product-checkout {
    background-color: #FAFAFA;
    border: 1px solid #7E3380;
    margin: 10px;
    height: 110px;
    display: flex;
}

#p-checkout {
    margin: 10px 0px 30px 0px
}