footer {
    margin-top: auto;
    width: 100vw;
    min-height: 20px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    background: #F5C661;

    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 18px;
}