header {
    background: #7A247D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.left-menu,
.right-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.search {
    font-family: 'Bellota Text';
    border-bottom: 2px solid #F5C661;
    color: #F5C661;
}

.search-input {
    color: #F5C661;
    background: none;
    background-image: none;
    border: 0;

    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 23px;
}

.cart-icon,
.profile-icon,
.menu-icon {
    width: 42px;
}

.cart-icon:hover,
.profile-icon:hover,
.menu-icon:hover {
    width: 50px;
}

/* Menu hamburguer */
.burguer-menu {
    display: none;
}

.burguer-menu-content {
    display: none;
    background-color: #7A247D;
    width: 180px;
    margin: .5px 0px 0px 0px;
    position: absolute;
    top: 124px;
    right: 0;
}
.burguer-menu-content span {
    display: block;
    line-height: 3rem;
    padding: 0 1rem;
}
.burguer-menu-content span a {
    text-decoration: none;
    color: black;
}
.burguer-menu-content span:hover {
    background-color:#F5C661;
    color:#252525;
}

/* Responsividade */
@media (max-width: 1000px){
    .burguer-menu {
        display: block;
    }
    .search,
    .right-menu {
        display: none;
    }
}