.woocommerce-MyAccount-navigation{
    background-color: #F5C661;
    display: flex;
    align-items: center;
    padding: 15px;
}

.woocommerce-MyAccount-navigation ul{
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Bellota Text', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 30px;
}

.woocommerce-MyAccount-navigation a{
    text-decoration: none;
    color: #000000;
}
