.woocommerce table.shop_table{
    border: none;
    font-size: 1rem;
    font-family: 'Bellota Text',sans-serif;
}

.woocommerce table.shop_table thead{
    font-size: 1.5rem;
}

.woocommerce table.shop_table td{
    border: 0;
    padding: 0.725rem;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    border: 3px solid #6A066D;
    border-radius: 0;
    background-color: #FFFFFF;
    color: #6A066D;
    margin-right: 0.5rem;
} 

.view-order-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Bellota Text',sans-serif;
}

.view-order-container p{
    font-size: 1.125rem;
}


.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th{
    border: 0;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.woocommerce-customer-details{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.woocommerce .woocommerce-customer-details address{
    border: none;
    display: flex;
    flex-direction: column;
    line-height: 1.4rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}