/* Section banner */
.banner{
    background-color: #7A247D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    flex-wrap: wrap;
    height: 291px;
    min-height: auto;
}

.banner h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    line-height: 56px;
    color: #F5C661;
    font-size: 3rem;
}

.banner h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    font-size: 26px;
    color: #fafafa;
}

/* Section Visite */
.visite{
    background-color: #7A247D;
    text-align: center;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
}

.visite h2{
    color: #fafafa;
    font-size: 32px;
    font-family: 'Bellota Text';
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    min-width: 60%;
}

.container_localizacao{   
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-top: 20px;
}
.container_localizacao .mapa{
    display: flex ;
}

.localizacao_info{
    font-size: 18px;
    color: #fafafa;
    font-weight: 400;
    text-align: left;
}
.icones{
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    padding-left: 2rem;
}
.endereco{
    background-image: url('../images/endereco_icon.png');
}
.telefone{
    background-image: url('../images/telefone_icon.png');
}


.slideshow > button{
    position:relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c4c4c4;
    outline: none;
    border: none;
    bottom: 25px;
    margin: 0 15px;
}
.slideshow > button:hover{
    background-color: black;
}

.slides{
    width: 570px;
    height: 356px;
    position:relative;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0%;
    left:0%;
    transition: all 0.5s linear;
    background-size: cover;
    background-position: 100%;
}

.slide:nth-child(3){
    background-image: url('../images/imagem1.jpg');
}
.slide:nth-child(2){
    background-image: url('../images/imagem2.jpeg');
}
.slide:nth-child(1){
    background-image: url('../images/imagem3.jpg');

}

/*Resposividade*/

@media  (max-width: 600px){
    html,body{
       overflow-x: hidden;
    }
    .banner{
        display: flex;
        justify-content: center;
    }
    .banner h3{
        text-align: center;
        line-height: 1.5;
    }


    .visite{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .visite h2{
        width: 100%;
    }

    .container_localizacao{
        display: flex;
        flex-direction: column;
    }
    .container_localizacao iframe{
        width: 300px;
    }
    .localizacao_info{
        width: 300px;
    }
    .slideshow{
        width: 300px;
    }
    .slideshow > button{
        margin-top: 100%;
    }
}