.myaccount-body-content{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.painel-container{
    width: 70%;
    display: flex;
    flex-direction: column;
}


label, .woocommerce-MyAccount-content a, .woocommerce-MyAccount-content p {
    font-family: 'Bellota Text',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    color: #000000;
    margin-bottom: 1%;
    text-decoration: none;
    line-height: 1.5rem;
}

.woocommerce-MyAccount-content input {
    border: none;
    border-bottom: 2px solid #6A066D;
    padding: 2px;
    padding-left: 5px;
}

.woocommerce-EditAccountForm a{
    text-decoration: none;
    color: #000000;
}

.woocommerce-EditAccountForm input{
    border: none;
    border-bottom: 3px solid #6A066D;
    padding: 2px;
    padding-left: 5px;
    font-family: 'Bellota Text',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.container-button{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.save-changes-button {
    padding: 0.5rem 1.75rem;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    background: #7E3481;
    align-self: center;
}
