#sidebar, .woocommerce-breadcrumb{
    display: none;
}

.site-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wc-forward{
    display: none;}

.product{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 106px;
    max-width: 1050px;
    flex-wrap: wrap;
}

.woocommerce-product-gallery__wrapper img{
    height: 249px;
    width: 392px;

}

.summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    text-align: justify;
    font-family: 'Bellota Text';
}

.name-description-simple div, .name-description-simple p{
    line-height: 20px;
    font-size: 18px;
}

.title-single-product{
    font-size: 40px;
}

.info-buy-simple{
    height: 85px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-end;
}

.quantity-price-simple{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quantity-price-simple input{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    width: 40px;
}

.change-quantity{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(106, 6, 109, 1);
}

.button-quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 30px;
}

.button-quantity:hover{
    background-color: transparent;
    border: 2px solid rgba(106, 6, 109, 1);
    color: black;
}

.button-quantity-decrease{
    border-right: 2px solid rgba(106, 6, 109, 1);
}

.button-quantity-increase{
    border-left: 2px solid rgba(106, 6, 109, 1);
}

.price{
    font-size: 32px;
}

.variation-button-simple{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.quantity input{
    border: none;
    text-align: right;
}

.select-simple{
    border: none;
    border-bottom: 2px solid rgba(106, 6, 109, 1);
}

.single_add_to_cart_button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(126, 52, 129, 0.86279);
    border: none;
    height: 41px;
    width: 165px;
}

.single_add_to_cart_button:hover{
    color: white;
}

.products-related{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 80px;
}

/* Single variable */


.stock{
    display: none;
}

.variations_form button{
    position: relative;
    left: 335px;
    top: 19px;
}

.variations_form .value{
    position: relative;
    left: 315px;
    bottom: 61px;
}

.price-variable{
    position: relative;
    top: 77.92px;
}

.woocommerce-variation-price{
    position: relative;
    top: 77.92px;
}

.variations_form select{
    border: none;
    border-bottom: 2px solid rgba(106, 6, 109, 1);
    width: 183px;
}

.buttons-variable{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(106, 6, 109, 1);
    gap: 44px;
    width: 110px;
    position: relative;
    top: 53px;
}

.variations_form .qty{
    font-size: 18px;
    position: relative;
    left: 40px;
    bottom: 6px;
    width: 30px;;
}